@charset "UTF-8";
/* CSS Document */
body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px;
}

#mainNav 
{
  background-color: black;
  width: 376px;
  height: 69px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  text-align: center;
}

.mainInfo 
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px; 
}

#mainInfoImg1
{
  background-color: black;
  width: 376px;
  height: 257px;
  margin: 0 auto;
  color: white;
  text-align: center;
}

#mainInfoText1
{
  background-color: black;
  width: 376px;
  height: 184px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
}

#headerAndtext1
{
  background-color: black;
  width: 376px;
  height: 387px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
}

.secondInfo
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px;   
}

#ImgAndText1 
{
  background-color: black;
  width: 376px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;

}

#ImgAndText2 
{
  background-color: black;
  width: 376px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;

}

#ImgAndText3 
{
  background-color: black;
  width: 376px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;

}

#ImgAndText4 
{
  background-color: black;
  width: 376px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;

}


#ImgAndText5 
{
  background-color: black;
  width: 376px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;

}

.thirdInfo
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px; 
  justify-content: space-evenly;   
}

#thirdInfoImg1
{
  background-color: black;
  width: 186px;
  height: 204px;
  margin-top: 30px;
  color: white;
  text-align: center;

}

#thirdInfoImg2
{
  background-color: black;
  width: 186px;
  height: 204px;
  margin-top: 30px;
  color: white;
  text-align: center;
}

#thirdInfoImg3
{
  background-color: black;
  width: 376px;
  height: 204px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
}

#thirdInfoText
{
  background-color: black;
  width: 376px;
  height: 204px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;  
}

.mainFooter
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px;    
}

#footerNav
{
  background-color: black;
  width: 376px;
  height: 608px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  text-align: center;    
}


@media screen and (min-width: 417px) {


}

