@charset "UTF-8";
/* CSS Document */
body {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 30px;
}

#mainNav 
{
  background-color: black;
  width: 300px;
  height: 91px;
  margin: 0 auto;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 27px;
}

.mainInfo 
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 30px; 
}

#mainInfoImg1
{
  background-color: black;
  width: 300px;
  height: 257px;
  margin: 0 auto;
  color: white;
  text-align: center;
  font-size: 27px;
}

#mainInfoText1
{
  background-color: black;
  width: 300px;
  height: 184px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#headerAndtext1
{
  background-color: black;
  width: 300px;
  height: 387px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#headerAndImg
{
  background-color: black;
  width: 300px;
  height: 387px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

.secondInfo
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 30px;   
}

#ImgAndText1 
{
  background-color: black;
  width: 300px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#ImgAndText2 
{
  background-color: black;
  width: 300px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#ImgAndText3 
{
  background-color: black;
  width: 300px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#ImgAndText4 
{
  background-color: black;
  width: 300px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}


#ImgAndText5 
{
  background-color: black;
  width: 300px;
  height: 462px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

.thirdInfo
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 30px; 
  
}

#imgCon
{
  margin: 0 auto;
  display: flex;
}

#thirdInfoImg1
{
  /*margin: 0 auto;*/
  background-color: black;
  width: 146px;
  height: 153px;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
  margin-right: 10px;
}

#thirdInfoImg2
{
  margin: 0 auto;
  background-color: black;
  width: 146px;
  height: 153px;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#thirdInfoImg3
{
  background-color: black;
  width: 300px;
  height: 204px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

#thirdInfoText
{
  background-color: black;
  width: 300px;
  height: 204px;
  margin: 0 auto;
  margin-top: 30px;
  color: white;
  text-align: center;  
  font-size: 27px;
}

.mainFooter
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 30px;    
}

#footerNav
{
  background-color: black;
  width: 300px;
  height: 608px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  text-align: center; 
  font-size: 27px;   
}


@media screen and (min-width: 417px) {


/*.container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1400px;
  margin-top: 30px;
}*/

#mainNav
{
  display: flex;
  margin: 0 auto;
  background-color: black;
  width: 1200px;
  height: 424px;
  margin-top: 10px;
  text-align: center;

}

.mainInfo 
{
  display: flex;
  max-width: 1200px;
  margin-top: 30px; 
}

#main
{
  display: flex;
  flex-direction: row;
}

#mainInfoImg1
{
  display: flex;
  background-color: black;
  width: 555px;
  height: 383px;
  color: white;
  text-align: center;
  font-size: 27px;
  margin-top: 30px;
}

#mainInfoText1
{
  background-color: black;
  width: 415px;
  height: 386px;
  margin-top: 30px;
  color: white;
  text-align: center;
  font-size: 27px;
}

.headers
{
  margin: 0 auto;
  display: flex;
  flex-direction: row;
}

#headerAndtext1
{
  background-color: black;
  width: 557px;
  height: 527px;
  margin: 0 auto;
  margin-top: 30px;
}

#headerAndImg
{
  background-color: black;
  width: 421px;
  height: 739px;
  margin: 0 auto;
  margin-top: 30px;
}

}

